<!-- Footer -->
<footer class="page-footer font-small blue pt-4 navbar-light bg-light">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <h5 class="text-uppercase">About us:</h5>
        <p>Address: 79, Iron Street, NY, Mars</p>
        <p>Tel: (+082) 099 099 099</p>
        <p>Email: letstalk@gmail.com</p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Contact for Help:</h5>

        <ul class="list-unstyled">
          <li>
            <span>
              <i class="fab fa-facebook-square"></i>
              <a href="#!">fb.com/binhnguyen</a>
            </span>
          </li>
          <li>
            <span>
              <i class="fab fa-instagram"></i>
              <a href="#!">binhnguyen</a>
            </span>
          </li>
          <li>
            <span>
              <i class="fab fa-google"></i>
              <a href="#!">binhnguyen.795161@gmail.com</a>
            </span>
          </li>
        </ul>

      </div>
      <!-- Grid column -->
      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <!--<h5 class="text-uppercase">Links</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Link 1</a>
          </li>
          <li>
            <a href="#!">Link 2</a>
          </li>
          <li>
            <a href="#!">Link 3</a>
          </li>
          <li>
            <a href="#!">Link 4</a>
          </li>
        </ul>-->

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">
    <!--© 2019 Copyright:-->
    <!--<a style="color:#1FC5A0" href="https://mdbootstrap.com/education/bootstrap/"> MDBootstrap.com</a>-->
    <p>Design By <i style="color: dodgerblue" class="fa fa-pencil"></i> Binhnguyen</p>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
