<!-- <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <app-topic-content></app-topic-content>
      <app-topic-comment></app-topic-comment>
    </div>
    <button (click)="activeModal.close('Close click')" type="submit" class="btn btn-primary w-100">Back</button>
  </div>
</div> -->

<div class="modal-header">
  <h4 class="modal-title">{{topic.title}}</h4>
  <button *ngIf="isTrueOwner" type="button" class="btn btn-outline-success my-2 my-sm-0 editButton">
    <i class="fas fa-pencil-alt float-right"></i>
  </button>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="false">
      &times;
    </span>
  </button>
</div>
<div class="modal-body">
  <p>{{topic.content}}</p>
  <hr>
  <div class="row" *ngFor="let c of commentData ">
      <div class="comment-section" id="comment">
        <p>{{c.content}}</p>
      </div>
  </div>
</div>

<div class="modal-footer">
  <div class="row">
    <div class="comment-box">
      <textarea [(ngModel)]="comment" class="comment-area col-10">
      </textarea>
      <button type="button" (click)="onSubmitComment()" class="btn-comment btn btn-outline-success my-2 my-sm-0 col-2">Send</button>
    </div>  
  </div>
</div>

<!-- <div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div> -->