<!-- <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <app-topic-content></app-topic-content>
      <app-topic-comment></app-topic-comment>
    </div>
    <button (click)="activeModal.close('Close click')" type="submit" class="btn btn-primary w-100">Back</button>
  </div>
</div> -->

<ng-template *ngIf="isClickOnEdit === false else editForm then defaultForm">

</ng-template>

<ng-template #defaultForm>
  <div class="modal-header">
    <h4 class="modal-title">{{topic.title}}</h4>
    <button *ngIf="isTrueOwner" type="button" (click)="onClickEditTopic()" class="btn btn-outline-success my-2 my-sm-0 editButton">
      <i class="fas fa-pencil-alt float-right"></i>
    </button>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="false">
        &times;
      </span>
    </button>
  </div>
  
  <div class="modal-body" >
    <p>{{topic.content}}</p>
    <hr>
    <div class="row" *ngFor="let c of commentData">
      <!-- <ng-template *ngIf="isClickOnComment === false else editCommentForm then defaultCommentForm">

      </ng-template> -->

      <!-- <ng-template #defaultCommentForm> -->
        <div class="comment-section" style="width: 90%;" id="comment">
          <p>{{c.content}}</p>
        </div>
      <!-- </ng-template> -->

      <!-- <ng-template #editCommentForm>
        <textarea style="width: 90%; margin-left: 16px;" [(ngModel)]="c.content"></textarea>
      </ng-template> -->

      <button style="width: 7%; float: right; height: 70%;" (click)="onClickEditComment()" *ngIf="c.state === 1" type="button" class="btn btn-outline-success my-2 my-sm-0 editButton">
        <i class="fas fa-marker"></i>
      </button>
    </div>
  </div>
  
  <div class="modal-footer">
    <div class="row">
      <div class="comment-box">
        <textarea [(ngModel)]="comment" class="comment-area col-10">
        </textarea>
        <button type="button" (click)="onSubmitComment()" class="btn-comment btn btn-outline-success my-2 my-sm-0 col-2">Send</button>
      </div>  
    </div>
  </div>
</ng-template>


<ng-template #editForm>
  <div class="modal-header">
    <h4 class="modal-title">
      <input type="text" style="width: 100%;" [(ngModel)]="topic.title">
    </h4>
    <button *ngIf="isTrueOwner" type="button" (click)="onClickEditTopic()" class="btn btn-outline-success my-2 my-sm-0 editButton">
      <i class="fas fa-pencil-alt float-right"></i>
    </button>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="false">
        &times;
      </span>
    </button>
  </div>
  
  <div class="modal-body">
    <textarea style="width: 100%; height: 250px; resize: initial;" type="text" [(ngModel)]="topic.content"></textarea>
  </div>
  
  <div class="modal-footer">
    <button type="button" (click)="onSaveUpdate()" class="btn-comment btn btn-outline-success my-2 my-sm-0 col-2">Save</button>
    <button type="button" (click)="onCancel()" style="margin-left: 10px;" class="btn-comment btn btn-secondary my-2 my-sm-0 col-2">Cancel</button>
  </div>
</ng-template>


<!-- <div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div> -->