.saveTopic {
    margin-top: 0px;
    margin-right: 20px; 
    margin-bottom: 20px; 
    align-items: flex-end; 
    width: fit-content;
}

p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}